<!DOCTYPE html>
<html>

<head>
{{template "head" .}}
</head>

<body>
{{template "header" .}}
<main class="container">
<h1 class="h4 fw-bold">プロフ登録</h1>
<form onsubmit="return false" id="profile-form">
    <div class="row">
        <div class="col-sm">
            <div>
                <label for="display_name" class="form-label">表示名</label>
                <input type="text" class="form-control form-control" name="display_name" maxlength="1" required>
                <div class="form-text">イニシャル等。1文字。他と被らないように。</div>
            </div>
        </div>
        <div class="col-sm">
            <div>
                <label for="account_role" class="form-label">役割</label>
                <select class="form-select form-select" name="account_role" required>
                    <option value="1">キッチン</option>
                    <option value="2">ホール</option>
                    <option value="3">キッチン・ホール</option>
                </select>
                <div class="form-text">新人さんは教わった方を選択して下さい。</div>
            </div>
        </div>
    </div>
</form>
<div class="d-flex justify-content-between mt-3">
    <button class="btn btn-primary btn-md" id="save">登録する</button>
    <a href="/" class="btn btn-outline-secondary" role="button">ホームに戻る</a>
</div>
</main>
{{template "footer"}}
<script type="module" src="/js/account_profile.js"></script>
</body>

</html>