{{template "header" .}}
<h2>{{.username}}</h2>
<div class="table-responsive">
<table class="table">
<thead class="table-active">
    <tr>
        <th scope="col">所属</th>
        <th scope="col">表示名</th>
        <th scope="col">
            <div class="d-flex justify-content-between">
                <div>役割</div>
                <div><a href="/profile">プロフ登録</a></div>
            </div>
        </th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>{{.profile.GroupName}}</td>
        <td>{{.profile.AbbName}}</td>
        <td>{{.profile.RoleName}}</td>
    </tr>
</tbody>
</table>
</div>

<div>
    <a id="workablelink" class="mb-1 btn btn-secondary" role="button">シフト提出・修正</a>
</div>

<div class="table-responsive">
    <table class="table">
    <thead class="table-active">
        <tr>
            <th scope="col"></th>
            <th scope="col">
                <span id="month"></span>月 提出状況
            </th>
        </tr>
    </thead>
    <tbody>
        {{ range .workabledays }}
        <tr>
            <td>{{ .AbbName }}</td>
            <td>{{ .WorkableDays }}</td>
        </tr>
        {{ end }}
    </tbody>
    </table>
</div>
<div>
  <a id="shiftlink1" class="my-3 btn btn-primary" role="button">
  来月シフト作成・修正</a>
  <a id="shiftlink2" class="btn btn-outline-secondary" role="button">
  今月シフト修正</a>
</div>

<script>
  let date = new Date()
  let nm = new Date(date.getFullYear(), date.getMonth() + 1, 1)
  document.getElementById("workablelink").href = 
  `/workable/${nm.getFullYear()}/${nm.getMonth() + 1}`

  document.getElementById("shiftlink1").href = 
  `/shift/${nm.getFullYear()}/${nm.getMonth() + 1}`

  document.getElementById("shiftlink2").href = 
  `/shift/${date.getFullYear()}/${date.getMonth() + 1}`

  document.getElementById("month").innerHTML = `${nm.getMonth() + 1}`
</script>
{{template "footer"}}



