<!DOCTYPE html>
<html>
{{template "head" .}}

<style>
.selected {
    background-color: yellow !important;
}
</style>
<link rel="stylesheet" href="/css/shift_preferred.css">
<script src="https://cdn.rawgit.com/osamutake/japanese-holidays-js/v1.0.10/lib/japanese-holidays.min.js"></script>
<body>
{{template "header" .}}

<main class="container">
<h3>出勤可能日</h3>
<div class="mb-1">
	<h4>{{.year}}年{{.month}}月</h4>
</div> 
<input type="hidden" id="year" value="{{.year}}">
<input type="hidden" id="month" value="{{.month}}">
<div id="calendar"></div>

<div class="my-3">
<form method="POST" action="/workable/{{.year}}/{{.month}}">
	<input type="hidden" id='year' name='year' value="{{.year}}">
	<input type="hidden" id='month' name='month' value="{{.month}}">
	<input type="hidden" id='selectdays' name='workable' value="{{.workable.WorkableDays}}">
	<button type="submit" class="btn btn-primary btn">シフト提出</button>
</form>
</div>
<a href="/" class="btn btn-outline-secondary" role="button">ホームに戻る</a>
</main>

{{template "footer"}}
<script type="module" src="/js/shift_preferred.js"></script>
</body>
</html>