<!DOCTYPE html>
<html>
<head>
{{template "head" .}}
<style>
.selected {
    background-color: yellow !important;
}
</style>
<link rel="stylesheet" href="/css/shift_preferred.css">
<script src="https://cdn.rawgit.com/osamutake/japanese-holidays-js/v1.0.10/lib/japanese-holidays.min.js"></script>
</head>
<body>
{{template "header" .}}

<main class="container">
<input type="hidden" id='year' value="{{.year}}">
<input type="hidden" id='month' value="{{.month}}">
<h3>出勤可能日</h3>
<div class="mb-1">
	<h4>{{.year}}年{{.month}}月</h4>
</div>
<div id="calendar"></div>

<div class="my-3">
<form onsubmit="return false" id="shift-preferred-form">
	<input type="hidden" name='dates'>
	<button class="btn btn-primary btn" id="save">シフト提出</button>
</form>
</div>
<a href="/" class="btn btn-outline-secondary" role="button">ホームに戻る</a>
</main>

{{template "footer"}}
<script type="module" src="/js/shift_preferred.js"></script>
</body>
</html>