{{template "header" .}}
<style>
.selected {
	background-color: #aaa !important;
}
</style>
<script src="https://cdn.rawgit.com/osamutake/japanese-holidays-js/v1.0.10/lib/japanese-holidays.min.js"></script>

<input type="hidden"id='year' name='year' value="{{.year}}">
<input type="hidden"id='month' name='month' value="{{.month}}">

※店休日を選択して自動作成
<div class="my-1">
<div class="d-flex justify-content-between calsize">
	<h4>{{.year}}年{{.month}}月</h4>
</div>
</div>

<div id="calendar"></div>

<div class="my-3">
	<form method="POST" action="/shift/{{.year}}/{{.month}}/auto-generate">
		<input type="hidden"id='selectdays' name='storeholiday'>
		<input type="submit" id="submit" class="btn btn-dark btn-md" value="自動作成">
	</form>
</div>

<a href="/" class="btn btn-outline-secondary" role="button">ホームに戻る</a>

<link rel="stylesheet" href="/css/calendar.css">
<script type="text/javascript" src="/js/calendar.js"></script>
<script type="text/javascript">
	document.getElementById("submit").addEventListener('click', (e) => {
		event.target.style.pointerEvents = "none";
		e.target.value = "作成中"
	})
</script>

{{template "footer"}}