{{template "header" .}}
<style>
.selected {
	background-color: yellow;	
}
</style>
<script src="https://cdn.rawgit.com/osamutake/japanese-holidays-js/v1.0.10/lib/japanese-holidays.min.js"></script>

<h3>出勤可能日</h3>
<div class="mb-1">
<div class="d-flex justify-content-between calsize">
	<h4>{{.year}}年{{.month}}月</h4>
	<form method="POST" action="/workable/{{.year}}/{{.month}}">
		<input type="hidden" id='year' name='year' value="{{.year}}">
		<input type="hidden" id='month' name='month' value="{{.month}}">
		<input type="hidden" id='selectdays' name='workable' value={{.workable.WorkableDays}}>
		<button type="submit" class="btn btn-primary">シフト提出</button>
	</form>
</div>
</div>
<div class="row">
	<div id="calendar"></div>
</div>
※グレー数字 ... 自分含めた提出人数
</div>

<a href="/" class="my-3 btn btn-outline-secondary" role="button">ホームに戻る</a>

<link rel="stylesheet" href="/css/calendar.css">
<script type="text/javascript" src="/js/calendar.js"></script>
{{template "footer"}}


