.holiday {
    color: red;
}

.cellinfo {
    color: #aaa;
    font-size: 70%;
}

th {
   text-align: center; 
}

th:first-child {
    color: red;
}

th:last-child {
    color: royalblue;
}

th {
    border: 1px solid #bbb;
    text-align: center;
    background-color: #ffa;
}

td {
    border: 1px solid #ddd;
    text-align: center;
    height: 70px;
}

td:first-child {
    color: red;
}

td:last-child {
    color: royalblue;
}
