#calendar {
    margin: auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

#calendar table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    color: #333;
}

#calendar table th {
    background-color: #555;
    color: white;
    padding: 10px;
    font-weight: bold;
}

#calendar table td {
    border: 1px solid #ddd;
    transition: background-color 0.3s;
}

#calendar table td .weekday {
    color: black;
}

#calendar table td .saturday {
    color: blue;
}

#calendar table td .holiday {
    color: red;
}

#calendar table td .day {
    font-size: 0.8rem;
    opacity: 0.6;
}

#calendar table td .names {
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    font-size: 0.85rem;
    min-height: 3rem;
}

#calendar table tr:nth-child(odd) td {
    background-color: #f9f9f9;
}