.calendar {
    margin: auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.calendar table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    color: #333;
    table-layout: fixed
}

.calendar table th {
    padding: 8px; 
    background-color: #ededed;
    font-weight: bold;
    border: 1px solid #bbb;
    border-bottom: 1px solid #555;
}

.calendar table td {
    border: 1px solid #ddd;
    transition: background-color 0.3s;
    width: calc(100% / 7);
    height: 55px;
}

.calendar table th:first-child {
    color: red;
    border-bottom: 1px solid red;
}

.calendar table th:last-child {
    color: blue;
    border-bottom: 1px solid blue;
}

.calendar table td .weekday {
    color: black;
}

.calendar table td .saturday {
    color: blue;
}

.calendar table td .holiday {
    color: red;
}

.calendar table td div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.calendar table td .day {
    background-color: #f9f9f9;
    height: 1rem;
    font-size: 0.7rem;
    opacity: 0.6;
    font-weight: 600;
}

.calendar table td .names {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.calendar table td .names input {
    border: 0;
    width: 95%;
    font-size: 0.8rem;
    text-align: center;
}