.holiday {
    color: red;
}

.storeholiday {
    opacity: 0.4;
}

td:first-child {
    color: red;
}

td:last-child {
    color: royalblue;
}

td input {
    border: none;
    width:100%;
    font-size: 1.1rem;
}

th {
    border: 1px solid #bbb;
    text-align: center;
    background-color: #ffa;
}

td {
    border: 1px solid #ddd;
    text-align: center;
    min-width: 75px;
    height: 70px;
}

th:first-child {
    color: red;
}

th:last-child {
    color: royalblue;
}

header {
    min-width: 550px;
}